<ion-header>
 <ion-navbar color="primary" hideBackButton="true">
    <ion-title>
        
      Gestion POD/IOD :
      <!--<button ion-button  class="noneBorder" large (click)="logout()">
         <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
         <ion-icon name="log-out" class="pull-right logout-action" (click)="logout()"></ion-icon> 
       </button> -->
       <button ion-button  class="noBorder" large (click)="logout()">
          <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
         
        </button>
       <button ion-button  class="noneBorder" large (click)="navToParam()">
          <ion-icon ios="ios-settings" md="md-settings"></ion-icon>
        </button>
    </ion-title>
    
  </ion-navbar> 
  
</ion-header>
 
<ion-content class="body" color="secondary">
 

  <!-- <img src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="lastImage === null"> -->
  
  <!-- <ion-card *ngIf="dataScanned !== null"> 
      <ion-card-header>
  
        <h2>Resultat du scanning :</h2>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li> {{dataScanned}}</li>
        </ul>
      </ion-card-content>
    </ion-card> -->

<button ion-button class="circle" large icon-left (click)="takePicture()">
       <ion-icon name="camera" class="circ"></ion-icon>Image
</button>


 <button ion-button  primary class="login-button" round icon-left (click)="scan()" >
 <ion-icon name="qr-scanner"></ion-icon>
 Scanner bon livraison
 </button>

 
  <!--
    <ion-card *ngIf="dataScanned"> 
    <ion-card-header>

      <h2>Resultat du scanning :</h2>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>{{dataScanned.cancelled }}</li>
        <li>{{selectedProduct.text}}</li>
        <li>{{selectedProduct.format}}</li>
      </ul>
    </ion-card-content>
  </ion-card>
  -->
</ion-content>
 
<!-- <ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons>
      <button ion-button icon-left (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>photo
      </button>
      <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null"> 
          <button ion-button icon-left (click)="scan()">
        <ion-icon name="qr-scanner"></ion-icon>scanner
      </button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->